body{
	font-size: 1.5em;	
	font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

.message{
	margin: .5em .1em .1em 1em;
}

.message button{
	margin-right: .25em;
    font-size: 1em;
}

.message .approve{
	color: green;
}

.message .disapprove{
	color: red;
}

.approve.approved-status{
    color: white;
    background-color: green;
}

.unset.unset-status {
    color: white;
    background-color: gray;
}

.disapprove.disapproved-status {
    color: white;
    background-color: red;
}
