/*
global.scss

Contains global styles and definitions for constants.
*/

.emphasis{
    color:$red;
}

.social-media{
    text-align:center;
    
    p{
        margin:0;
        padding:0;
    }
    
    a {
        margin:0 0.75em;
        color:$black;
        text-decoration:none;
        
        &:hover, &:active{
            color:$red;
        }
    }
}

.register {
    display:block;
    width:auto;
    margin:0;
    
    a{
        color:$red;
        
        &:hover, &:active{
            color:$black;
        }
    }
}

.registration-form{
    height:150em;
    margin:0;
    padding:0;
    margin-left:-.5em;
}


.expand + .register{
    margin-top:1em;
}

.map-push {
    margin-bottom:2em;
    max-width: 22em;
    
    h2:first-of-type {
        margin-top: 0;
    }
}

@media all and (max-width:$small-breakpoint) {
    .map-push{
        float:none !important;
        max-width: 100%;
    }
    
    .map{
        float:none !important;
        width:100%;
    }
}

#gmap_canvas{
    width:400px;
    height:400px; 
}

@media all and (min-width:$large-breakpoint) {
    .map-push {
        max-width: none;
    }
    
    .expand + .register{
        margin-top:2em;
    }
    
    .expand {
        position:relative;
        margin-bottom:1em;
        border-top:1px solid #eee;
        
        h2{
            position:relative;
            float:left;
            width:12em;
            position:relative;
            margin:0;
        }
        
        .expand-right{
            position:relative;
            float:left;
            margin-top:1em;
            margin:0;
            padding:0;
        }
        
        &:before, &:after {
            content: " ";
            display:table;
        }
        
        &:after{
            clear:both;
        }
    }
}

.kludge-add-spacing{
    height:3em;
}

.stats{
    display:block;
    max-width:25em;
    margin:inherit auto;
}

.picture-accent {
    margin-bottom:3em;
}

@media all and (max-width:$large-breakpoint) {
    .stats{
        display:block;
        margin-top:1em;
        
        img{
            display:block;
            max-width:25em;
            margin:0 auto;
        }
    }
}