/*
grid.scss

All styles related to tweaking, modifying, and working with the grid layout system.
*/

// full-page layout 

html{
    height:100%;
    overflow-x:hidden;
}

body {
    height:100%;
    padding:1em;
    overflow-x:hidden;
}

.constrained {
    max-width: 43em;
    margin:auto;
    
    @media all and (min-width: $medium-breakpoint) {
        &{
            position:relative;
            margin:0;
        }
    }
}

// general pieces

.row {
    margin:0;
    padding:0;
}

.unit {
    display:block;
    margin:0;
    padding:0;
}

// specific elements 

.full {
    width:100%;
    height:auto;
}
