/*
typography.scss

All code related to the fonts, font sizing, and other typography
*/

// See http://www.grputland.com/2013/11/multiplatform-helvetica-like-font-stack.html
//@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);

@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo'), url(http://themes.googleusercontent.com/static/fonts/arimo/v6/wZLYhRRxZWGToTRP78bqJQ.woff) format('woff');
}
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  src: local('Arimo Bold'), local('Arimo-Bold'), url(http://themes.googleusercontent.com/static/fonts/arimo/v6/UnXpojilM3XslYxUnWuVe_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

$header-typeface: "Helvetica Neue", HelveticaNeue, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
$body-typeface: "Helvetica Neue", HelveticaNeue, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;

h1,h2,h3,h4,h5,h6 {
    font-family: $header-typeface;
    font-weight:700;
}

h1{
    color:$red;
}

body {
    font-family: $body-typeface;
    font-weight: 300;
}