/*
constants.scss

Contains all variables and constants that can be tweaked and modified for this website.
*/

$red: blue; //#ff2b06;
$black: #222;
$white: #fff;

$small-breakpoint: 768px;
$medium-breakpoint: 992px;
$large-breakpoint: 1200px;