/*
decorative.scss

CSS for specific, small pieces which aren't large enough to be components,
but are too specific or small to merit having their own file.
*/

.right-garnish{
    display:none;

    @media all and (min-width: $medium-breakpoint) {   
        &{
            display:block;
            position:absolute;
            top:15em;
            margin-left:44em;
        }
    }
}

.btn, .btn-default {
    text-decoration:none;
    background-color:$red;
    background-image: none;
    text-shadow:none;
    color: $white;
    
    &:hover, &:active {
        color: $white;
        background-color:lighten($red, 20%);
    }
}