<div class="schedule">
    {% for arc in include.schedule %}
        <h3 class="clearfix">
            {% if arc.time %}
                <div class="time">{{ arc.time }}:</div>
            {% endif %}
            <div class="title-block">
                {{ arc.arc_title }}
            </div>
        </h3>
        
        {% if arc.events %}
            <ul class="events">
                {% for event in arc.events %}
                    <li class="{{ event.type }} clearfix">
                        <div class="time">{{ event.time }}:</div>
                        <div class="title-block">
                            <span class="title">{{ event.title }}</span>
                            <span class="subtitle">{{ event.subtitle }}</span>
                        </div>
                    </li>
                {% endfor %}
            </li>
        {% endif %}
    {% endfor %}
</div>