<div class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>Where:</h2>
                <h3><a href="http://goo.gl/maps/v2o6l">UW Tower</a></h3>
                
                <h2>When:</h2>
                <h3>Sat, May 3 @ 11 AM</h3>
                
                <a href="https://docs.google.com/forms/d/1zu9XcylxeppJuWfh44G7hdro0yGQOUOyM1DX_IC-Mvo/viewform" class="btn btn-default btn-lg" role="button">Register now!</a>
            </div>
            <div class="col-sm-8">
                <h2>Map:</h2>
                
                <div class="Flexible-container">
                <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;channel=sb&amp;ie=UTF8&amp;q=uw+tower&amp;fb=1&amp;gl=us&amp;hq=uw+tower&amp;cid=17759707232695502400&amp;ll=47.660841,-122.314829&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;channel=sb&amp;ie=UTF8&amp;q=uw+tower&amp;fb=1&amp;gl=us&amp;hq=uw+tower&amp;cid=17759707232695502400&amp;ll=47.660841,-122.314829&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
                </div>
            </div>
        </div>
    </div>
</div>