<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />
    <title>{{ page.title }} | {{ site.name }}</title>
    
    <link rel="author" href="/humans.txt" />
    <meta name="description" content="We are a group of University of Washington students looking to bring together established and innovative individuals under the TEDx banner. We independently plan and host a TEDx event every spring here at UW. What is TEDx? In the spirit of ideas worth spreading, TED has created a program called TEDx. TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. Our event is called TEDxUofW, where x = independently organized TED event. At our TEDxUofW event, TEDTalks video and live speakers will combine to spark deep discussion and connection in a small group. The TED Conference provides general guidance for the TEDx program, but individual TEDx events, including ours, are self-organized." />
    <meta name="keywords" content="TEDxUofW, TEDx, TED, University of Washington, UW, TEDxUW, talks, TED talks, RSO" />
    <link rel="image_src" href="/assets/images/ted-logo-lightbulb-white-fb.png" />
    
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    
    {% stylesheet styles %}
    
    <link rel="shortcut icon" href="/favicon.ico" />
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->