<div class="picture-frame">
    <div class="row">
        <div class="col-xs-6 col-md-3 hidden-xs hidden-sm unit">
            <img class="full" src="assets/images/campus/globe.jpg">
        </div>
        <div class="col-xs-6 col-md-3 hidden-xs hidden-sm unit">
            <img class="full" src="assets/images/campus/husky-stadium.jpg">
        </div>
        <div class="col-xs-6 col-md-3 unit">
            <img class="full" src="assets/images/campus/cherry-blossom.jpg">
        </div>
        <div class="col-xs-6 col-md-3 unit">
            <img class="full" src="assets/images/campus/statue.jpg">
        </div>
    </div>
</div>