<div class="picture-frame picture-accent">
    <div class="row">
        <div class="col-xs-6 col-md-3 hidden-xs hidden-sm unit">
            <img class="full" src="{% asset_path general/campus/globe.jpg %}" alt="globe stock image" />
        </div>
        <div class="col-xs-6 col-md-3 hidden-xs hidden-sm unit">
            <img class="full" src="{% asset_path general/campus/husky-stadium.jpg %}" alt="husky stadium stock image" />
        </div>
        <div class="col-xs-6 col-md-3 unit">
            <img class="full" src="{% asset_path general/campus/cherry-blossom.jpg %}" alt="cherry blossoms stock image" />
        </div>
        <div class="col-xs-6 col-md-3 unit">
            <img class="full" src="{% asset_path general/campus/statue.jpg %}" alt="statue stock image" />
        </div>
    </div>
</div>