<div class="social-media">
    <p>
        <a href="https://facebook.com/TEDxUofW" title="Facebook (external link)"><i class="fa fa-facebook fa-2x"></i></a>
        <a href="http://twitter.com/tedxuofw" title="Twitter (external link)"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="http://www.youtube.com/user/TEDxUofWashington" title="YouTube (external link)"><i class="fa fa-youtube fa-2x"></i></a>
        <a href="http://instagram.com/tedxuofw" title="Instagram (external link)"><i class="fa fa-instagram fa-2x"></i></a>
    </p>
</div>