/*
global.scss

Contains global styles and definitions for constants.
*/

$red: #ff2b06;
$black: #222;
$white: #fff;

@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);

@font-face {
    font-family: WisdomScript;
    src: url("/assets/fonts/WisdomScript/Wisdom-Script-AJ.otf");
}

$header-typeface: "Helvetica Neue", HelveticaNeue, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
$body-typeface: "Helvetica Neue", HelveticaNeue, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
$register-typeface: "WisdomScript", "Helvetica Neue", HelveticaNeue, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;

$small-breakpoint: 768px;
$medium-breakpoint: 992px;
$large-breakpoint: 1200px;

*, *:before, *:after {  
            box-sizing: border-box;
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    height:100%;
    font-family: $body-typeface;
    font-weight: 300;
    padding:1em;
    height:100%;
    overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6 {
    width:75%;
    font-family: $header-typeface;
    font-weight:700;
    color:$black;
}

p {
}

a {
    text-decoration:underline;
}

.btn, .btn-default {
    text-decoration:none;
    background-color:$red;
    background-image: none;
    text-shadow:none;
    color:$white;
    
    &:hover {
        background-color:lighten($red, 20%);
    }
}

.row {
    margin:0;
    padding:0;
}

.unit {
    display:block;
    margin:0;
    padding:0;
}

.full {
    width:100%;
    height:auto;
}

.full-height {
    height:100%;
    width:auto;
}

.constrained {
    p {
        max-width: 50em;
    }
    
    img {
        margin: 1em;
        max-width:40%;
    }
    
    @media all and (max-width: $small-breakpoint) {
        img {
            max-width:100%;
            margin:1em 0;
            float:none !important;  
            /* Note: bootstrap's 'pull-right' also uses !important */
        }
    }
}

.right-garnish{
    display:none;
}

@media all and (min-width: $medium-breakpoint) {
    .constrained{
        position:relative;
    }
    
    .right-garnish{
        display:block;
        position:absolute;
        top:15em;
        margin-left:51em;
    }
}


/* Google maps embed */
.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}