/*
image-grid.scss

Code for any grid-like arrangement
*/

.image-header {
    position:relative;
    max-height:30em;
    overflow:hidden;
    margin-bottom:2em;
    
    img{
        width:100%;
        height:auto;
    }
}

.picture-frame {
    .panel {
        border:none;
        box-shadow:none;
    }
    
    .panel-single {
        h2 {
            font-weight:400;
            color: $black;
            -webkit-transition: color 0.2s ease-out;
                    transition: color 0.2s ease-out;
        }
           
        .glyphicon {
            -webkit-transition: -webkit-transform 0.2s ease-out;
                    transition: transform 0.2s ease-out;
        }
        
        &:hover, &:active {
            .glyphicon {
                -webkit-transform: rotate(90deg);
                        transform: rotate(90deg);
            }
            
            h2 {
                color:$red;
            }
        }
    }
    
    .panel-heading {
        padding:0;
        margin:1em 0;
        background:none;
        
        a {
            text-decoration:none;
            outline: 0;
        }
    }
 
    
    .panel-body{
        padding:0;
    }
    
    .unit {
        padding:0.8em 0.4em 0;
        overflow:hidden;
    }
    
    @media all and (min-width: $small-breakpoint) {
        .fixed-unit {
            padding:0.8em 0.4em 0;
            overflow:hidden;
            height:18em;
            
            .cutoff {
                overflow:hidden;
                width:100%;
                height:100%;
            }
        }
    }

    .target {
        position:relative;
        overflow:hidden;
        cursor: pointer;
        
        &:hover, &:active {
            .description {
                min-height:5em;
            }
        }
    }
    
    .description {
        position:absolute;
        z-index:10;
        padding:0.5em;
        background-color:rgba(0, 0, 0, 0.65);
        color:#fff;
        width:100%;
        bottom:0;
        
        -webkit-transform: min-height 0.2s ease-out;
               transition: min-height 0.2s ease-out;
        
        h3 {
            font-size:1.2em;
            margin:0;
            color:$red;
        }
        
        p {
            margin:0;
        }
    }
    
    .logo {
        display:block;
        padding-top:3em;
    }
        
    .text {
        display:block;
        position:relative;
        padding:1em;
        background-color: #ddd;
        min-height:100%;
        
        h2 {
            margin:0;
        }
        
        h3{
            color:$black;
            margin:0;
            margin-bottom:1em;
        }
        
        a {
            color:$black;
        }
        
        .btn {
            color: $white;
        }
    }
}

.modal-body {
    p {
        font-weight: 400;
    }
}