/*
live.scss

All styles for the livestream and schedule.
*/

.livestream {
    display: block;
    margin-bottom: 3em;
}

.schedule {
    margin-bottom: 3em;
    
    h3 {
        font-size: 1.5em;
        margin-bottom: .5em;
        margin-top: 0;
    }
    
    ul {
        list-style-type: none;
    }
    
    li {
        display: block;
        margin-left: 0;
        margin-bottom: .5em;
    }
    
    .time {
        display: block;
        color: $red;
        width: 8rem;
        float: left;
        text-align: right;
        padding: 0;
        padding-right: 12px;
    }
    
    .title-block {
        display: block;
        position:relative;
        margin-left: 8rem;
    }
    
    .title {
        display: block;
        font-weight: 700;
    }
    
    .subtitle {
        display: block;
    }
}