/*
navbar.scss

Contains navbar-related code (in both the navbar proper and the footer)
*/

.header{
    margin:1em auto;
    padding:0;
}

.logo {
    width:20em;
    -webkit-transition:width 0.2s ease-out;
            transition:width 0.2s ease-out;
    
    @media all and (max-width:$small-breakpoint) {
        width:100%;
        margin-bottom:1em;
    }
}

.nav {
    -webkit-transition:width 0.2s ease-out;
            transition:width 0.2s ease-out;
    width:55%;
    
    @media all and (max-width:$small-breakpoint) {
        width:100%;
        .unit {
            a{
                height:3.5em;
            }
        }
    }
    
    .unit {
        a{
            text-align:center;
            text-decoration:none;
            color:$black;
            padding:0.5em;
            padding-bottom:0;
            border-bottom: 1px solid $black;
            
            -webkit-transition:background-color 0.2s ease-out;
                    transition:background-color 0.2s ease-out;
            
            &:hover,&:hover,{
                background:none;
                font-weight:700;
            }
        }
        
        .active{
            font-weight:700;
        }
            
        ul {
            margin:0;
            padding:0;
            width:100%;
        }
        
        .child {
            text-align:center;
            margin:0;
            width:100%;
            height:auto;
            
            a{
                border:0;
            }
        }
    }
}

.nav .unit {   
    /*display:block;
    text-align:center;
    
    a {        
        text-decoration:none;
        color:$white;
        background-color:$black;
        transition: background-color 0.2s ease-out;
    }
    
    a:hover, .active {
        background-color:lighten($black, 40%);
    
        position:relative;
        &:after {
            content:"";
            position: absolute;
            bottom:0;
            left:50%;
            margin-left:-0.5em;
            
            width:0;
            height:0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $white;
        }
    } 
    
    @media all and (max-width:$small-breakpoint) {
        .active:after, &:hover:after {
            content:none;
        }
    }
    */
}

/*

.primary-nav {
    .unit {
        padding:0;
        
        a {
            display:block;
            position:relative;
            width:100%;
            min-height:3em;
            margin:0;
            padding:.5em 0;
            
            span {
                display:block;
                padding:0;
                margin:0;
            }
            
            .page-name {
                font-size:1.5em;
                margin-bottom:0.5em;
            }
        }
    }
}

.secondary-nav {
    min-height:3em;
    list-style-type: none;
    margin-bottom:1.5em;
    
    li {
        float:left;
        height:3em;
        width:12em;
        margin-right:1em;
        margin-bottom:0.5em;
        padding:0;
        
        a{
            display:block;
            height:100%;
            padding:.5em;
            text-decoration:none;
            font-size: 1.2em;   
        }  
    }
}

*/