/*
navbar.scss

Contains navbar-related code (in both the navbar proper and the footer)
*/

.header{
    margin:1em auto;
    padding:0;
}

.logo {
    width:22em;
    -webkit-transition:width 0.2s ease-out;
            transition:width 0.2s ease-out;
    
    @media all and (max-width:$small-breakpoint) {
        width:100%;
        margin-bottom:1em;
    }
}

.links {
    width:55%;
    
    .social-media {        
        text-align:right;
        margin-right:1em;
    }
}

.nav {
    width:100%;
    display:block;
    margin-top:0.75em;
    -webkit-transition:width 0.2s ease-out;
            transition:width 0.2s ease-out;
    
    @media all and (max-width:$small-breakpoint) {
        width:100%;
        .unit {
            a{
                height:3.5em;
            }
        }
    }
    
    .unit {
        a{
            text-align:center;
            text-decoration:none;
            color:$black;
            padding:0.5em;
            padding-bottom:0;
            border-bottom: 1px solid $black;
            
            -webkit-transition:background-color 0.2s ease-out;
                    transition:background-color 0.2s ease-out;
            
            &:hover,&:active,{
                background:none;
                font-weight:700;
            }
        }
        
        .active{
            font-weight:700;
            color:$red;
        }
            
        ul {
            margin:0;
            padding:0;
            width:100%;
        }
        
        .child {
            text-align:center;
            margin:0;
            width:100%;
            height:auto;
            
            a{
                border:0;
            }
        }
    }
}

