/*
speaker.scss

CSS specifcally for speakers
*/

.speakers{
    margin-bottom:5em;
}

.speaker {
    margin-bottom:1em;
    
    h2 {
        border-bottom:2px solid $red;
        width:100%;
        margin-bottom:0.5em;
    }
    
    img {
        display:block;
        margin:0 auto;
        max-width:20em;
    }
    
    .bio {
        padding-left:1em;
        
        h2,h3{
            margin-top:0;
        }
    }
    
    @media all and (max-width:$small-breakpoint) {
        img{
            margin-bottom:1em;
        }
    }
}