<html>
	<head>
		<meta charset=utf-8>
		<meta http-equiv=X-UA-Compatible content="IE=edge">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='tagboard.css') }}">
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='tagboard.js') }}"></script>
		<title>TAGBOARD</title>
	</head>
	<body>
        <div class="wrapper container-fluid">
            <div class="row">
                <div class="textContainer col-xs-4" id="c1"><span>A</span></div>
                <div class="textContainer col-xs-4" id="c2"><span>B</span></div>
                <div class="textContainer col-xs-4" id="c3"><span>C</span></div>
            </div>
            <div class="row">
                <div class="textContainer col-xs-4" id="c4"><span>D</span></div>
                <div class="textContainer col-xs-4" id="c5"><span>E</span></div>
                <div class="textContainer col-xs-4" id="c6"><span>F</span></div>
            </div>
            <div class="row">
                <div class="textContainer col-xs-4" id="c7"><span>G</span></div>
                <div class="textContainer col-xs-4" id="c8"><span>H</span></div>
                <div class="textContainer col-xs-4" id="c9"><span>I</span></div>
            </div>
        </div>
	</body>

</html>
