/*
main-styles.scss

Contains a high-level overview of all the different styles used in this website.
*/
/*
global.scss

Contains global styles and definitions for constants.
*/
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  height: 100%;
  overflow-x: hidden; }

body {
  height: 100%;
  font-family: "Helvetica Neue", HelveticaNeue, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
  font-weight: 300;
  padding: 1em;
  height: 100%;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", HelveticaNeue, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
  font-weight: 700; }

h1 {
  color: #ff2b06; }

ul {
  padding: 0;
  list-style-position: inside; }

a {
  text-decoration: underline; }

a[href^="mailto"] {
  white-space: nowrap; }

.emphasis {
  color: #ff2b06; }

.btn, .btn-default {
  text-decoration: none;
  background-color: #ff2b06;
  background-image: none;
  text-shadow: none;
  color: white; }
  .btn:hover, .btn-default:hover {
    background-color: #ff826c; }

.row {
  margin: 0;
  padding: 0; }

.unit {
  display: block;
  margin: 0;
  padding: 0; }

.full {
  width: 100%;
  height: auto; }

.full-height {
  height: 100%;
  width: auto; }

.constrained {
  max-width: 43em;
  margin: auto; }

.right-garnish {
  display: none; }

@media all and (min-width: 992px) {
  .constrained {
    position: relative;
    margin: 0; }

  .right-garnish {
    display: block;
    position: absolute;
    top: 15em;
    margin-left: 44em; } }
.social-media {
  text-align: center; }
  .social-media p {
    margin: 0;
    padding: 0; }
  .social-media a {
    margin: 0 0.75em;
    color: #222222;
    text-decoration: none; }
    .social-media a:hover, .social-media a:active {
      color: #ff2b06; }

.register {
  display: block;
  width: auto;
  margin: 0; }
  .register a {
    color: #ff2b06; }
    .register a:hover, .register a:active {
      color: #222222; }

.registration-form {
  height: 150em;
  margin: 0;
  padding: 0;
  margin-left: -.5em; }

.expand + .register {
  margin-top: 1em; }

.map-push {
  margin-bottom: 2em;
  max-width: 22em; }
  .map-push h2:first-of-type {
    margin-top: 0; }

@media all and (max-width: 768px) {
  .map-push {
    float: none !important;
    max-width: 100%; }

  .map {
    float: none !important;
    width: 100%; } }
#gmap_canvas {
  width: 400px;
  height: 400px; }

@media all and (min-width: 1200px) {
  .map-push {
    max-width: none; }

  .expand + .register {
    margin-top: 2em; }

  .expand {
    position: relative;
    margin-bottom: 1em;
    border-top: 1px solid #eee; }
    .expand h2 {
      position: relative;
      float: left;
      width: 12em;
      position: relative;
      margin: 0; }
    .expand .expand-right {
      position: relative;
      float: left;
      margin-top: 1em;
      margin: 0;
      padding: 0; }
    .expand:before, .expand:after {
      content: " ";
      display: table; }
    .expand:after {
      clear: both; } }
.kludge-add-spacing {
  height: 3em; }

.stats {
  display: block;
  max-width: 25em;
  margin: inherit auto; }

.picture-accent {
  margin-bottom: 3em; }

@media all and (max-width: 1200px) {
  .stats {
    display: block;
    margin-top: 1em; }
    .stats img {
      display: block;
      max-width: 25em;
      margin: 0 auto; } }
/*
navbar.scss

Contains navbar-related code (in both the navbar proper and the footer)
*/
.header {
  margin: 1em auto;
  padding: 0;
  position: relative; }

.logo {
  width: 22em;
  -webkit-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out; }
  @media all and (max-width: 768px) {
    .logo {
      width: 50%;
      margin-bottom: 1em; } }

.links {
  width: 55%; }
  .links .social-media {
    text-align: right;
    margin-right: 1em; }
  @media all and (max-width: 768px) {
    .links {
      width: 100%;
      float: right;
      padding-top: 0; }
      .links .nav {
        margin-top: 0; }
      .links .social-media {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        text-align: center; }
        .links .social-media a {
          margin: 0;
          padding: .5em; }
          .links .social-media a i {
            font-size: 1.5em; } }

.primary-nav {
  width: 100%;
  display: block;
  margin-top: 0.75em;
  height: 4em;
  -webkit-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out; }
  @media all and (max-width: 768px) {
    .primary-nav {
      height: 6em; }
      .primary-nav .unit a {
        height: 3.5em; } }
  .primary-nav .unit {
    width: 25%; }
    .primary-nav .unit a {
      text-align: center;
      text-decoration: none;
      color: #222222;
      padding: 0.5em;
      padding-bottom: 0;
      border-bottom: 1px solid #222222;
      -webkit-transition: background-color 0.2s ease-out;
      transition: background-color 0.2s ease-out; }
      .primary-nav .unit a:hover, .primary-nav .unit a:active {
        background: none;
        font-weight: 700; }
      .primary-nav .unit a span {
        font-size: 1.1em; }
    .primary-nav .unit ul {
      margin: 0;
      padding: 0;
      width: 100%;
      display: none; }
    .primary-nav .unit .active {
      font-weight: 700;
      color: #ff2b06; }
    .primary-nav .unit .active + ul, .primary-nav .unit a:hover + ul, .primary-nav .unit ul:hover {
      display: block; }
    .primary-nav .unit .child {
      text-align: center;
      margin: 0;
      width: 100%;
      height: auto; }
      .primary-nav .unit .child a {
        border: 0; }

/*
footer.css

Contains any code related to specifically the footer
*/
.footer {
  background-color: #222222;
  color: white;
  margin-top: 2em;
  padding: 2em 0; }
  .footer a {
    color: white; }
    .footer a:hover {
      color: #ff2b06; }
  .footer h1, .footer h2, .footer h3 {
    margin: 0;
    color: white; }
  .footer h3 {
    margin-bottom: 1em; }
  .footer .btn {
    color: white; }

/*
homepage.scss

Contains styles specifically for the homepage
*/
.homepage {
  /* Todo: add fallback */
  background: url(/assets/images/angular-background.png) no-repeat center center fixed;
  background-size: auto 100%;
  background-position: right 0; }
  .homepage h1 {
    font-weight: 400;
    font-size: 6em;
    color: #222222;
    letter-spacing: .3em; }
  .homepage .prompt p {
    font-size: 1.5em;
    color: #ff2b06; }
  .homepage .prompt .fadeout {
    background-color: rgba(255, 255, 255, 0.6);
    padding: .3em;
    border-radius: 3px;
    display: block;
    max-width: 30em;
    margin: 0 auto; }
  .homepage .prompt .subtitle {
    font-size: 2em;
    color: #222222;
    background-color: none;
    padding: 0; }
  .homepage .prompt span {
    white-space: nowrap; }
  .homepage a {
    color: #ff2b06; }
  .homepage .container {
    margin: inherit auto; }
  .homepage .prompt {
    text-align: center; }
    .homepage .prompt .row {
      margin: 0 0 2em;
      padding: 0; }
  .homepage .header {
    position: relative;
    z-index: 5; }
  .homepage .social-media a {
    color: #222222; }
    .homepage .social-media a:hover {
      color: #ff2b06; }
  .homepage .youtube {
    display: block;
    position: relative;
    margin: 1em auto;
    width: 20em; }
    .homepage .youtube img {
      display: block;
      width: 100%;
      height: auto; }
    .homepage .youtube .glyphicon {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -.5em;
      margin-left: -.5em;
      font-size: 3em;
      color: #222222; }
    .homepage .youtube:hover .glyphicon {
      color: #ff2b06; }
  @media all and (max-width: 768px) {
    .homepage h1 {
      letter-spacing: 0.1em;
      font-size: 2.8em;
      padding: 0; }
    .homepage .vertical-container {
      padding: 0; }
    .homepage .vertically-center {
      margin: 0; } }
  @media all and (min-width: 768px) {
    .homepage .vertical-container {
      display: table;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
    .homepage .vertically-center {
      display: table-cell;
      vertical-align: middle;
      margin: inherit auto;
      z-index: 1; } }
  @media all and (max-height: 700px) {
    .homepage .vertical-container {
      padding: 0;
      margin: 0;
      height: auto;
      vertical-align: none;
      position: relative; }
    .homepage .vertically-center {
      margin: 0;
      padding: 0;
      vertical-align: none; } }

/*
image-grid.scss

Code for any grid-like arrangement
*/
.image-header {
  position: relative;
  max-height: 30em;
  margin-bottom: 2em; }

.picture-frame .panel {
  border: none;
  box-shadow: none; }
.picture-frame .panel-single h2 {
  font-weight: 400;
  color: #222222;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out; }
.picture-frame .panel-single .glyphicon {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out; }
.picture-frame .panel-single:hover .glyphicon, .picture-frame .panel-single:active .glyphicon {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }
.picture-frame .panel-single:hover h2, .picture-frame .panel-single:active h2 {
  color: #ff2b06; }
.picture-frame .panel-heading {
  padding: 0;
  margin: 1em 0;
  background: none; }
  .picture-frame .panel-heading a {
    text-decoration: none;
    outline: 0; }
.picture-frame .panel-body {
  padding: 0; }
.picture-frame .unit {
  padding: 0.8em 0.4em 0;
  overflow: hidden; }
.picture-frame .bump {
  margin-right: 1em; }
.picture-frame .target {
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .picture-frame .target:hover .description, .picture-frame .target:active .description {
    min-height: 5em; }
.picture-frame .description {
  position: absolute;
  z-index: 10;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  width: 100%;
  bottom: 0;
  -webkit-transform: min-height 0.2s ease-out;
  transition: min-height 0.2s ease-out; }
  .picture-frame .description h3 {
    font-size: 1.2em;
    margin: 0;
    color: #ff2b06; }
  .picture-frame .description p {
    margin: 0; }
.picture-frame .logo {
  display: block;
  padding-top: 3em; }

.modal-body p {
  font-weight: 400; }

/*
speaker.scss

CSS specifically for speakers
*/
.speakers {
  margin-bottom: 5em; }

.speaker {
  margin-bottom: 1em; }
  .speaker h2 {
    border-bottom: 2px solid #ff2b06;
    width: 100%;
    margin-bottom: 0.5em; }
  .speaker img {
    display: block;
    margin: 0 auto;
    max-width: 20em; }
  .speaker .bio {
    padding-left: 1em; }
    .speaker .bio h2, .speaker .bio h3 {
      margin-top: 0; }
    .speaker .bio h3 {
      font-size: 1.5em; }
  @media all and (max-width: 768px) {
    .speaker img {
      margin-bottom: 1em; } }

/*
sponsors.scss

CSS specifically for speakers
*/
.sponsor-header {
  border-bottom: 2px solid #ff2b06;
  width: 100%;
  margin-bottom: 0.5em; }

.sponsor {
  padding: 1em; }
  .sponsor a:after {
    content: "";
    transition: background-color 0.2s ease-out;
    background-color: rgba(255, 255, 255, 0); }

.all-sponsors {
  margin-bottom: 3em; }

.sponsor-logos:hover .sponsor a:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5); }
.sponsor-logos:hover .sponsor a:hover:after {
  content: "";
  background-color: rgba(255, 255, 255, 0); }

/*
forms.scss

Contains CSS to format forms
*/
form {
  margin: 1em 0; }

label {
  display: block; }

input {
  display: block;
  margin-bottom: 1em; }

textarea {
  width: 100%;
  min-height: 10em;
  margin-bottom: 1em; }

.response {
  display: none;
  padding: 1em;
  margin: 2em 0;
  width: 100%; }

.no-garnish-constrained {
  margin: 0 auto; }

#success {
  border: 5px solid #00a651; }

#failure {
  border: 5px solid #ff2b06; }

/*
live.scss

All styles for the livestream and schedule.
*/
.livestream {
  display: block;
  margin-bottom: 3em; }

.schedule {
  margin-bottom: 3em; }
  .schedule h3 {
    font-size: 1.5em;
    margin-bottom: .5em;
    margin-top: 0; }
  .schedule ul {
    list-style-type: none; }
  .schedule li {
    display: block;
    margin-left: 0;
    margin-bottom: .5em; }
  .schedule .time {
    display: block;
    color: #ff2b06;
    width: 8rem;
    float: left;
    text-align: right;
    padding: 0;
    padding-right: 12px; }
  .schedule .title-block {
    display: block;
    position: relative;
    margin-left: 8rem; }
  .schedule .title {
    display: block;
    font-weight: 700; }
  .schedule .subtitle {
    display: block; }
