/*
main-styles.scss

Contains a high-level overview of all the different styles used in this website.
*/
/*
global.scss

Contains global styles and definitions for constants.
*/
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  height: 100%;
  font-family: "Helvetica Neue", HelveticaNeue, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
  font-weight: 300;
  padding: 1em;
  height: 100%;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", HelveticaNeue, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #222222; }

a {
  text-decoration: underline; }

.btn, .btn-default {
  text-decoration: none;
  background-color: #ff2b06;
  background-image: none;
  text-shadow: none;
  color: white; }
  .btn:hover, .btn-default:hover {
    background-color: #ff826c; }

.row {
  margin: 0;
  padding: 0; }

.unit {
  display: block;
  margin: 0;
  padding: 0; }

.full {
  width: 100%;
  height: auto; }

.full-height {
  height: 100%;
  width: auto; }

.constrained {
  max-width: 43em;
  margin: auto; }

.right-garnish {
  display: none; }

@media all and (min-width: 992px) {
  .constrained {
    position: relative;
    margin: 0; }

  .right-garnish {
    display: block;
    position: absolute;
    top: 15em;
    margin-left: 44em; } }
.social-media {
  text-align: center; }
  .social-media p {
    margin: 0;
    padding: 0; }
  .social-media a {
    margin: 0 0.75em;
    color: #222222;
    text-decoration: none; }
    .social-media a:hover, .social-media a:active {
      color: #ff2b06; }

/* Google maps embed */
.Flexible-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*
navbar.scss

Contains navbar-related code (in both the navbar proper and the footer)
*/
.header {
  margin: 1em auto;
  padding: 0; }

.logo {
  width: 22em;
  -webkit-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out; }
  @media all and (max-width: 768px) {
    .logo {
      width: 100%;
      margin-bottom: 1em; } }

.links {
  width: 55%; }
  .links .social-media {
    text-align: right;
    margin-right: 1em; }

.nav {
  width: 100%;
  display: block;
  margin-top: 0.75em;
  -webkit-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out; }
  @media all and (max-width: 768px) {
    .nav {
      width: 100%; }
      .nav .unit a {
        height: 3.5em; } }
  .nav .unit a {
    text-align: center;
    text-decoration: none;
    color: #222222;
    padding: 0.5em;
    padding-bottom: 0;
    border-bottom: 1px solid #222222;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out; }
    .nav .unit a:hover, .nav .unit a:active {
      background: none;
      font-weight: 700; }
  .nav .unit .active {
    font-weight: 700;
    color: #ff2b06; }
  .nav .unit ul {
    margin: 0;
    padding: 0;
    width: 100%; }
  .nav .unit .child {
    text-align: center;
    margin: 0;
    width: 100%;
    height: auto; }
    .nav .unit .child a {
      border: 0; }

/*
footer.css

Contains any code related to specifically the footer
*/
.footer {
  background-color: #222222;
  color: white;
  margin-top: 2em;
  padding: 2em 0; }
  .footer a {
    color: white; }
    .footer a:hover {
      color: #ff2b06; }
  .footer h1, .footer h2, .footer h3 {
    margin: 0;
    color: white; }
  .footer h3 {
    margin-bottom: 1em; }
  .footer .btn {
    color: white; }

/*
homepage.scss

Contains styles specifically for the homepage
*/
.homepage {
  /* Todo: add fallback */
  background: url(/assets/images/angular-background.png) no-repeat center center fixed;
  background-size: auto 100%;
  background-position: right 0;
  display: table;
  position: absolute;
  height: 100%;
  width: 100%; }
  .homepage h2 {
    font-weight: 400; }
  .homepage .fadeout {
    margin: 0 auto;
    max-width: 32em;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1em; }
  .homepage .container {
    max-width: 30em; }
  .homepage .logo {
    width: 100%;
    margin-bottom: 1em; }
  .homepage .links {
    width: 100%; }
  .homepage .social-media {
    display: block;
    text-align: center; }
  .homepage .nav {
    width: 100%;
    border-bottom: 0;
    margin-bottom: 0em; }
  .homepage .prompt {
    text-align: center; }
    .homepage .prompt h2 {
      display: block;
      width: auto;
      margin: 0; }
    .homepage .prompt a {
      color: #ff2b06; }
      .homepage .prompt a:hover, .homepage .prompt a:active {
        color: #222222; }
  .homepage .social-media {
    position: absolute;
    right: 1em;
    top: 1em; }
    .homepage .social-media a {
      color: #222222; }
      .homepage .social-media a:hover, .homepage .social-media a:active {
        color: #ff2b06; }

.vertically-center {
  display: table-cell;
  vertical-align: middle; }

/*
image-grid.scss

Code for any grid-like arrangement
*/
.image-header {
  position: relative;
  max-height: 30em;
  margin-bottom: 2em; }

.picture-frame .panel {
  border: none;
  box-shadow: none; }
.picture-frame .panel-single h2 {
  font-weight: 400;
  color: #222222;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out; }
.picture-frame .panel-single .glyphicon {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out; }
.picture-frame .panel-single:hover .glyphicon, .picture-frame .panel-single:active .glyphicon {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }
.picture-frame .panel-single:hover h2, .picture-frame .panel-single:active h2 {
  color: #ff2b06; }
.picture-frame .panel-heading {
  padding: 0;
  margin: 1em 0;
  background: none; }
  .picture-frame .panel-heading a {
    text-decoration: none;
    outline: 0; }
.picture-frame .panel-body {
  padding: 0; }
.picture-frame .unit {
  padding: 0.8em 0.4em 0;
  overflow: hidden; }
.picture-frame .target {
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .picture-frame .target:hover .description, .picture-frame .target:active .description {
    min-height: 5em; }
.picture-frame .description {
  position: absolute;
  z-index: 10;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  width: 100%;
  bottom: 0;
  -webkit-transform: min-height 0.2s ease-out;
  transition: min-height 0.2s ease-out; }
  .picture-frame .description h3 {
    font-size: 1.2em;
    margin: 0;
    color: #ff2b06; }
  .picture-frame .description p {
    margin: 0; }
.picture-frame .logo {
  display: block;
  padding-top: 3em; }

.modal-body p {
  font-weight: 400; }

/*
speaker.scss

CSS specifcally for speakers
*/
.speaker h2 {
  border-bottom: 2px solid #ff2b06;
  width: 100%;
  margin-bottom: 0.5em; }
.speaker img {
  margin-bottom: 1em; }
.speaker .bio {
  padding-left: 1em; }
  .speaker .bio h2, .speaker .bio h3 {
    margin-top: 0; }
