$icon-font-path: "/_bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "../../_bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower 

// Setup
@import "custom/variables.scss";

// Text
@import "syntax.scss";
@import "custom/typography.scss";

// Layout
@import "custom/layout.scss";

// Components
@import "custom/nav.scss";

// Final tweaks
@import "custom/shame.scss";