---
layout: default
title: "TEDxUofW 2015"
page_id: 2015
---

{% include 2015-subnav.html index=0 %}
<div class="opaque opaque-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="segment">        
          <h3>date</h3>
          <p class="large">
            <time datetime="2015-05-03 10:00">Sunday, May 3, 2015</time>
            <span>11:00am - 4:00pm</span>
          </p>
        </div>
        <div class="segment">
          <h3>address</h3>
          <!-- 
            Note: we are explicitly not using the address HTML tag. See
            http://html5doctor.com/the-address-element/
            I'm also too lazy to do the whole vcards/microformat thing 
            that the article suggests.
          -->
          <p class="large">            
            Kane Hall <a href="https://goo.gl/maps/3O9N2">(map)</a><br />
            Room 120<br />
            4069 Spokane Lane<br />
            Seattle, WA 98105
          </p>
        </div>          
          
        <div class="segment">  
          <h3>ticket prices</h3>
          
          <p class="large">
            UW Alumni, Students, Faculty, and Staff / <strong>$20</strong><br />
            General Admission / <strong>$30</strong><br />
            Note: Tickets are on a first-come first-serve basis, limited to the first 700 applicants
          </p>
        </div>
        
        <a href="#" class="action-button">Register</a>
      </div>
      <div class="col-xs-12 col-md-8">
        <div class="segment map">
          {% include map.html %}
        </div/,
      </div>
    </div>
  </div>
</div>