# Use PHP5.4 as default
AddHandler application/x-httpd-php54 .php

# Error-handling
ErrorDocument 404 /404.html
ErrorDocument 500 /500.html

RewriteEngine On
RewriteBase /

# Removing html extensions
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+?)\/?$ $1.html [NC,L]

# Map folders to filenames 
RewriteCond %{REQUEST_URI} -d 
RewriteRule ^([^\.]+)/$ $1.html [NC,L]

# Mapping /live to /the-event
#RewriteCond %{REQUEST_URI} /live [NC]
#RewriteRule .* /the-event [L]

# Helping bludgeon IE into compliance
Header set X-UA-Compatible "IE=Edge,chrome=1"

# Mapping urls
#Redirect 302 /live /the-event
Redirect 302 /schedule /live