---
layout: default
title: Speakers
parent_id: the-event
id: speakers
---

<div class="container">
    <h1>Meet the speakers</h1>
    
    <p>Looking for more information on who's speaking when? Check out our <a href="/live">event schedule</a> for more details!</p>
    
    <div class="speakers">
        {% for speaker in site.data.speakers %}
        <div class="speaker" id="speaker-{{ speaker.unique_id }}">
            <h2>{{ speaker.name }}</h2>
            
            <div class="row">
                <div class="col-sm-4 col-md-3 unit">
                    <img class="full" src="{{ speaker.image }}" alt="{{ speaker.name }}" />
                </div>
                <div class="col-sm-8 col-md-9 unit bio">
                    {% if speaker.talk_name != "" %}
                    <h3>{{ speaker.talk_name }}</h3>
                    {% endif %}
                    
                    {{ speaker.bio | markdownify }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>