---
layout: default
title: Speakers
parent_id: the-event
id: speakers
---

<div class="container">
    <h1>Meet the speakers</h1>
    
    <p>Coming soon! Check back later.</p>
    
    {% include picture-accent.html %}
    
    {% if false %}
    {% for speaker in site.data.events.current.speakers %}
    <div class="speaker" id="speaker-{{ speaker.unique_id }}">
        <h2>{{ speaker.name }}</h2>
        
        <div class="row">
            <div class="col-xs-4 unit">
                <img class="full" src="{{ speaker.image }}">
            </div>
            <div class="col-xs-8 unit bio">
                <h3>{{ speaker.talk_name }}</h3>
                
                <p>{{ speaker.talk_info }}</p>
                
                <p>{{ speaker.bio }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>