---
layout: default
title: Speakers
parent_id: the-event
id: speakers
---

<div class="container">
    <h1>Meet the speakers</h1>
    
    <div class="speakers">
        {% for speaker in site.data.events.current.speakers %}
        <div class="speaker" id="speaker-{{ speaker.unique_id }}">
            <h2>{{ speaker.name }}</h2>
            
            <div class="row">
                <div class="col-sm-4 col-md-3 unit">
                    <img class="full" src="{{ speaker.image }}">
                </div>
                <div class="col-sm-8 col-md-9 unit bio">
                    {% if speaker.talk_name != "" %}
                    <h3>{{ speaker.talk_name }}</h3>
                    {% endif %}
                    
                    <p>{{ speaker.bio }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <h2>More speakers coming soon! Check back later.</h2>
    
    {% include picture-accent.html %}
</div>