---
layout: default
title: Sponsors
parent_id: the-event
id: sponsors
---

<div class="container">
    
    <div class="main-content">
        <h1>Our sponsors</h1>
        
        <p><strong class="emphasis">Note: This page lists only our sponsors for TEDxUofW 2014. See our <a href="/past-events">past events</a> page for event-specific details.</strong></p>
        
        {% include summary-sponsors.html sponsors=site.data.2014-sponsors %}
        
        {% include picture-accent.html %}
    </div>
</div>