---
layout: default
title: Sponsors
parent_id: the-event
id: sponsors
---

<div class="container">
    
    <div class="main-content">
        <h1>Our sponsors</h1>
        
        {% for level in site.data.sponsors %}
            <h2>{{ level.level }}</h2>
            {% if level.display == "husky" %}
                <ul class="all-sponsors">
                    {% for sponsor in level.sponsors %}
                        <li id="{{ sponsor.unique_id }}">{{ sponsor.name }}</li>
                    {% endfor %}
                </ul>
            {% elsif level.display == "snack" %}
                <div class="row all-sponsors sponsor-logos">
                    {% for sponsor in level.sponsors %}
                        <div class="sponsor col-xs-6 col-sm-3 col-lg-2 unit" id="sponsor-{{ sponsor.unique_id }}">
                            <a href="{{ sponsor.link }}">
                                <img class="full" src="{{ sponsor.image }}" alt="{{ sponsor.name }}" />                        
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% elsif level.display == "gold" %}
                <div class="row all-sponsors sponsor-logos">
                    {% for sponsor in level.sponsors %}
                        <div class="sponsor col-xs-12 col-sm-6 col-lg-4 unit" id="sponsor-{{ sponsor.unique_id }}">
                            <a href="{{ sponsor.link }}">
                                <img class="full" src="{{ sponsor.image }}" alt="{{ sponsor.name }}" />                        
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% elsif level.display == "platinum" %}
                <div class="row all-sponsors sponsor-logos">
                    {% for sponsor in level.sponsors %}
                        <div class="sponsor col-xs-12 col-sm-10 col-md-8 col-lg-7 unit" id="sponsor-{{ sponsor.unique_id }}">
                            <a href="{{ sponsor.link }}">
                                <img class="full" src="{{ sponsor.image }}" alt="{{ sponsor.name }}" />                        
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
        
        <p><strong>More sponsors coming soon! Check back later.</strong></p>
        
        {% include picture-accent.html %}
    </div>
</div>