---
layout: default
title: TEDxUofW | 2013
page_id: 2013
---

{% include subnav-past-events.html index=2 %}
<div class="main-content">
  <div class="opaque opaque-content">
    <div class="container">
      <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-9">
            <h3>The Elements of Transition</h3>
            
            <strong>Discover Me: My Unique Piece of the Puzzle</strong>
            
            <p>The individual is the sole determiner of the person they wish to be. This segment focuses on transformation, development, and the creation of that person. We will capitalize on individual strengths, weaknesses, experiences, and unique personalities that shape our identity and who we become.</p>
            
            <strong>"How Do I Fit?": Finding My Puzzle Set</strong>
       
            <p>When we begin to develop who we are, we find that there are individuals, organizations, and communities who encourage and help inspire that development. This segment highlights how an individual finds their perfect fit and creates positive change and movements in the area that they grow in.</p>

            <strong>"Coming Full Circle": Creating the Puzzle Image</strong>
       
            <p>After learning about who we are and the organizations we fit into, we have to consider how this development creates global positivity. Our end goal is to look at how we and our organizations can create a beautiful picture that makes difference and constructive impacts in our world.</p>
          </div>
          <div class="col-xs-12 col-sm-3">
              <h2>Synopsis</h2>
              <dl>
                  <dt>Location:</dt>
                  <dd>
                      <address>
                          Alder Commons<br />
                          Alder Hall, University of Washington<br />
                          Seattle, Wa, 98105
                      </address>
                  </dd>
                  <dt>Date:</dt>
                  <dd>
                      April 20th, 2013<br />
                      1:00 pm to 6:00 pm 
                  </dd>
              </dl>
          </div>
      </div>
      
      <div class="row">
          <!-- Nav tabs -->
          <ul class="nav-summary nav nav-tabs">
              <li class="active"><a href="#speakers" data-toggle="tab">Speakers</a></li>
              <!--<li><a href="#sponsors" data-toggle="tab">Sponsors</a></li>
              <li><a href="#volunteers" data-toggle="tab">Volunteers</a></li>-->
          </ul>
      </div>
      
      <!-- Tab panes -->
      <div class="row">
          <div class="tab-content">
              <div class="tab-pane fade in active" id="speakers">
                  {% include summary-speakers.html speakers=site.data.2013-speakers %}
              </div>
              <!--<div class="tab-pane fade" id="sponsors">
                  {% include summary-sponsors.html sponsors=site.data.2013-sponsors %}
              </div>
              <div class="tab-pane fade" id="volunteers">
                  {% include summary-volunteers.html volunteers=site.data.2013-volunteers %}
              </div>-->
          </div>
      </div>
    </div>
  </div>
</div>