/**
 * glow.scss
 *
 * Contains any CSS related to glow effects and such
 */ 
 
@import "variables.scss";

@mixin glow-text-subtle() {
    text-shadow:
        0 0 10px rgba(255,255,255,1), 
        0 0 20px rgba(255,255,255,1), 
        0 0 30px rgba(255,255,255,1);
        //0 0 40px #fff, 
        //0 0 70px #fff, 
        //0 0 80px #fff, 
        //0 0 100px #fff;
}

@mixin glow-text-bold() {
    text-shadow: 
        0 0 10px rgba(255,255,255,1), 
        0 0 20px rgba(255,255,255,1), 
        0 0 30px rgba(255,255,255,1), 
        0 0 40px #888, 
        //0 0 70px #fff, 
        //0 0 80px #fff, 
        //0 0 100px #fff;
}

@mixin glow-transition() {
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

@mixin glowbox-general() {
    border: 3px solid #fff;
    text-align: center;
    color: $text-color;
    
    box-shadow: 
        0 0 10px 10px #444,
        inset 0 0 10px 10px #444;
        
    @include glow-transition();
    
    &:active,
    &:hover,
    &:focus,
    &:visited {
        color: $text-color;
        text-decoration: none;
        box-shadow:
            0 0 10px 5px #999,
            inset 0 0 10px 5px #999;
    }
}
 
.glowbox-large {
    padding: 2em;
    font-family: $button-font;
    
    @include glowbox-general();
}

.glowbox {
    font-family: $button-font;
    font-size: 18px;
    padding: 0.3em 1em;
    margin: 1em 0;
    display: inline-block;
    
    @include glowbox-general();
}

.glow {
    @include glow-text-subtle();
    @include glow-transition();
    
    &:active,
    &:hover,
    &:focus,
    &:visited {
        @include glow-text-bold();
    }
}



.glow-on-hover {
    @include glow-transition();
    
    &:active,
    &:hover,
    &:focus,
    &:visited {
        @include glow-text-subtle();
    }
}

.action-button {
    font-family: $body-font;
    font-size: 18px;
    padding: 0.3em 1em;
    margin: 0.5em 0;
    display: inline-block;
    
    border: 3px solid $tedx-red;
    text-align: center;
    color: $tedx-red;
    
    &:active,
    &:hover,
    &:focus,
    &:visited {
        color: lighten($tedx-red, 20%);
        border-color: lighten($tedx-red, 20%);
        text-decoration: none;
        // TODO
    }
}