/**
 * homepage.scss
 * 
 * Contains CSS that appears specifically only on the homepage.
 */
 
.centerpiece {
    margin-top: 5em;
    margin-bottom: 5em;
    text-align: justify;
}

.summary {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 1em;
    text-align: justify;
}