/**
 * homepage.scss
 * 
 * Contains CSS that appears specifically only on the homepage.
 */
 
.centerpiece {
    margin-top: 5em;
    margin-bottom: 5em;
    text-align: justify;
}

.summary {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 1em;
    text-align: justify;
}

a .glowbox{
	padding: .5em 2.5em .5em 2.5em;
	text-align: center;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
}