/**
 * homepage.scss
 * 
 * Contains CSS that appears specifically only on the homepage.
 */
 
@import "../../_bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";
@import "variables.scss";
 
.centerpiece {
    margin-top: 12em;
    margin-bottom: 12em;
    text-align: justify;
    
    width: 43em;
    margin-left: auto;
    margin-right: auto;
}

//glowbox mobile css
@media (max-width: $screen-xs-min) {
    .centerpiece{
        width: 80%;
    }
}

.centerpiece .glowbox-large span {
    font-family: $button-font;
    font-size: 24px;
    color: $text-color;
}

.centerpiece .glowbox-large {
    margin-bottom: 2.5em;
}

.description {
    padding: 2.5em 3em 2em;
}

.description h3 {
    padding: 3px 0;
}

.description p {
    line-height: 2em;
    
    @media (min-width: $screen-md-min) {
        width: 90%;
    }
}

a .glowbox{
    padding: .5em 2.5em .5em 2.5em;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

/*youtube embed css (embedresponsively.com)*/
.embed{
    padding-left: 0;
    padding-right: 0;
}
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%;
} 
.embed-container iframe, 
.embed-container object, 
.embed-container embed {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.home header{
    height: 20vh;
}

.home .main-content{
    height: 80vh;
}