/**
 * layout.scss
 *
 * This file primarily describes CSS elements that applies to either large portions of 
 * the website or to multiple components/slices. 
 */

@import "../../_bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";
@import "variables.scss";
 
html {
    overflow-y: scroll;
    height: 100%;
}

body {
    height: 100%;

    background-color: $background-color;
    //background-image: url("/_assets/media/website/night-sky-background-1280x853.jpg");
    //background-position: center top;
    
    background: url("/_assets/media/website/night-sky-background-1280x853.jpg") no-repeat center center fixed; 
    background-size: cover;
    
    color: $text-color;
}

.wrapper {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.translucent {
    background-color: rgba(180, 180, 180, 0.05);
}

.opaque {
    background-color: $background-color;
}

.segment {
    margin-bottom: 4em;
}

header {
    padding-top: 1em;
}

/* Sticky footer: from https://css-tricks.com/snippets/css/sticky-footer/ */
$footer-fixed-height: 7em;

.page-wrap {
    min-height: 100%;
    margin-bottom: -$footer-fixed-height;
    
    &:after {
        content: "";
        display: block;
    }
    
    display: flex;
    flex-direction: column;
}

footer, .page-wrap:after {
    height: $footer-fixed-height;
}

.full {
    min-height: 100%;
    flex: 1;
}