/**
 * layout.scss
 *
 * This file primarily describes CSS elements that applies to either large portions of 
 * the website or to multiple components/slices. 
 */

@import "../../_bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";
@import "variables.scss";
 
html {
    overflow-y: scroll;
}

body {
    background-color: $background-color;
    //background-image: url("/_assets/media/website/night-sky-background-1280x853.jpg");
    //background-position: center top;
    
    background: url("/_assets/media/website/night-sky-background-1280x853.jpg") no-repeat center center fixed; 
    background-size: cover;
    
    color: $text-color;
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.4);
}

.translucent {
    // Nothing
}

.opaque {
    background-color: $background-color;
}

.segment {
    margin-bottom: 4em;
}

header {
    padding-top: 1em;
}
