/**
 * nav.scss
 *
 * This file contains CSS specifically for the primary navbar.
 */
 
@import "../../_bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";
@import "variables.scss";

.navbar-toggle .icon-bar {
    color: #fff;
    border-color: #fff;
    background-color: #fff;
}