/**
 * secondary-nav.scss
 *
 * Styles for the secondary nav (large tabs)
 */
 
@import "../../_bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";
@import "variables.scss";

.secondary-nav {
    list-style-type: none;
    margin-bottom: 0;
}

.secondary-nav li {
    font-size: 40px;
    color: $faded-color;
    padding-bottom: 5px;
    margin-bottom: -10px;
    margin-top: 0;
    margin-right: 1em;
    
    display: inline-block;
    position: relative;
    
    @media (max-width: $screen-xs-max) {
        font-size: 20px;
        margin-bottom: -5px;
    }
}

.secondary-nav .active {
    border-bottom: 10px solid $tedx-red;
    
    @media (max-width: $screen-xs-max) {
        border-bottom: 5px solid $tedx-red;
    }
}

.secondary-nav a {
    color: $faded-color;
    
    &:active,
    &:hover,
    &:visited,
    &:focus {
        text-decoration:none;
        color: $tedx-red;
    }
}