/**
 * shame.scss
 *
 * A space for all dirty hacks
 */

@import "../../_bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";
@import "variables.scss"; 
 
hr {
    width: 85%;
    color: $faded-color;
}

.thumbnail-image {
    width: 100%;
}

.speaker h3,
.sponsors h3 {
    border-bottom: 1px solid #faded-color;
}

.sponsors h3 {
    margin: 1em;
}

body {
    /*
    // Small devices (default)
    border-top: 10px solid red;
    
    // Small devices (tablets and up) 
    @media (min-width: $screen-sm-min) {
        border-color: yellow;
    }
    
    // Medium devices (desktops) 
    @media (min-width: $screen-md-min) {
        border-color: green;
    }
    
    // Large devices (large desktops) 
    @media (min-width: $screen-lg-min) {
        border-color: cyan;
    }
    */
}
