/*
speaker.scss

CSS specifically for speakers
*/

@import "../../_bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";
@import "variables.scss";

.speakers{
    margin-bottom:5em;
    
    .video {
        margin: 1em 0;
    }
}

#watchall{    
    margin-bottom: 2.5em;
}

.speaker {
    margin-bottom:3.5em;
    
    h2 {
        border-bottom:2px solid $tedx-red;
        width:100%;
        margin-bottom:0.5em;
    }

    h3{
        margin-top: 0.5em;
        margin-bottom: 0.2em;
    }
    
    img {
        display:block;
        margin:0.5em 0;
        max-width:20em;
    }
    
    .video {
        margin-top: 1.5em;
    }
    
    .bio {
        padding-left:1em;
        
        h2,h3{
            margin-top:0;
        }
        
        h3 {
            font-size: 1.5em;
        }
    }
    
    @media all and (max-width: $screen-xs-max) {
        img{
            margin-bottom:1em;
        }
    }
}