/** 
 * typography.scss
 *
 * Contains CSS related to typography, fonts, etc.
 */
 
@import "variables.scss";

body {
    font-family: $body-font;
    font-weight: 300;
    font-size: 11px;
    font-stretch:normal;
}

p {
    line-height: 2.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font;
    font-weight:600; 
    font-stretch:normal;
}

a .glowbox{
    color: $text-color;
}