/** 
 * typography.scss
 *
 * Contains CSS related to typography, fonts, etc.
 */
 
@import "variables.scss";

body {
    font-family: $body-font;
    font-weight: 300;
    font-size: 11px;
    font-stretch:normal;
}

.home p {
    line-height: 2.3em;
}

.default p,
.default dl,
.default dt {
    font-size: 14px;
    line-height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font;
    font-weight: 600; 
    font-stretch:normal;
}

h2 {
    font-size: 40px;
    color: $dark-text-color;
    border-bottom: 2px solid $faded-color;
    padding-bottom: 12px;
    margin-bottom: 12px;
    margin-top: 0;
}

h3 {
    font-size: 24px;
    color: $dark-text-color;
    padding-bottom: 12px;
    margin-bottom: 0;
    margin-top: 0;
}

.header-group {
    padding-bottom: 1em;
}

.header-group > h3 {
    padding-bottom: 0;
}

.subtle {
    color: $faded-color;
}

.default .large, 
.home .large {
    font-size: 20px;
    display: block;
    color: gray;
}

.default .medium {
    font-size: 14px;
    color: gray;
}


.aboutsub, .aboutsub a, .aboutsub p{
    color: $text-color !important;
    text-decoration: none;

    font-size: 20px;
}

.aboutsub strong{
    font-weight: $bold;
    font-size: 26px;
}