/** 
 * typography.scss
 *
 * Contains CSS related to typography, fonts, etc.
 */
 
@import "variables.scss";

body {
    font-family: $serif-fonts;
    font-size: 16px;
    line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $sans-serif-fonts;
}

h1 {
    font-size: 2.3em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

h1 a:hover {
    text-decoration: none;
}