/**
 * variables.scss
 *
 * Config values
 */

$background-color: #222;
$text-color: #eee;  // Deliberately not perfect white
$faded-color: #555;

$header-font: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  
  
// TODO: Replace with Helvetica-light
$body-font: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;

//font-weight for helvetica
$bold: 600;
$light: 300;

// TODO: Replace with Futura std
$button-font: Futura, 'Trebuchet MS', Arial, sans-serif;

