/**
 * variables.scss
 *
 * Config values
 */

$background-color: #000;
$text-color: #eee;  // Deliberately not perfect white

// TODO: Replace with Helvetica-light
$body-font: Helvetica, Arial, sans-serif; 

// TODO: Replace with Helvetica-bold
$header-font: Helvetica, Arial, sans-serif;

// TODO: Replace with Futura std
$button-font: Helvetica, Arial, sans-serif;

