/**
 * volunteers.scss
 *
 * Styles for this year's volunteers.
 */
 
@import "../../_bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";
@import "variables.scss";

.volunteer-group {
    margin-bottom: 3em;
}

.volunteer {
    position: relative;
    padding: 0;
    cursor: pointer;
}

.volunteer-content {
    position: relative;
    overflow: hidden;
}

.volunteer .description {
    background-color: rgba(0, 0, 0, 0.8);
    color: $text-color;
    width: 100%;
    height: 100%;
    padding: 1em;
    
    max-height: 70px;
    transition: max-height 0.2s ease-out;
    
    position: absolute;
    bottom: 0;
}

.volunteer:hover .description,
.volunteer:active .description,
.volunteer:focus description {
    max-height: 1000px;
}

.volunteer .bio {
    display: none;
}

.volunteer:hover .bio,
.volunteer:active .bio {
    display:block;
}

.volunteer .description p {
    line-height: 1.2em;
}

.volunteer .snippit {
    font-weight: bold;
}

.volunteer .position {
    color: $tedx-red;
}

.volunteer .bio {
}
