<footer class="container slice">
  <div><p id="contact">Contact: TedXUofW@uw.edu</p></div>
  <div id="social" class="pull-right">
    <a href="http://twitter.com/tedxuofw" title="Twitter (external link)">
      <i class="fa fa-twitter fa-2x"></i>
      <span class="hidden accessibility-text">Our Twitter account</span>
    </a>
    <a href="http://www.youtube.com/user/TEDxUofWashington" title="YouTube (external link)">
      <i class="fa fa-youtube fa-2x"></i> 
      <span class="hidden accessibility-text">Our YouTube page</span> 
    </a> 
    <a href="https://facebook.com/TEDxUofW" title="Facebook (external link)">
      <i class="fa fa-facebook fa-2x"></i>
      <span class="hidden accessibility-text">Our Facebook page</span>
    </a>
    <a href="http://instagram.com/tedxuofw" title="Instagram (external link)">
      <i class="fa fa-instagram fa-2x"></i>
      <span class="hidden accessibility-text">Our Instagram account</span>
    </a>
  </div>
</footer>