<footer class="container translucent">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <a href="mailto:tedxuofw@uw.edu" class="contact">CONTACT: TEDXUOFW@UW.EDU</a>
    </div>
    <div class="col-xs-12 col-sm-4 social">
      <a href="http://twitter.com/tedxuofw" title="Twitter (external link)">
        <div id="twittericon">
        <span class="hidden accessibility-text">Our Twitter account</span></div>
      </a>
      <a href="http://www.youtube.com/user/TEDxUofWashington" title="YouTube (external link)">
        <div id="yticon">
        <span class="hidden accessibility-text">Our YouTube page</span> </div>
      </a> 
      <a href="https://facebook.com/TEDxUofW" title="Facebook (external link)">
        <div id="fbicon">
        <span class="hidden accessibility-text">Our Facebook page</span></div>
      </a>
      <a href="http://instagram.com/tedxuofw" title="Instagram (external link)">
        <div id="igicon">
        <span class="hidden accessibility-text">Our Instagram account</span></div>
      </a>
    </div>
  </div>
</footer>