<!-- build:js(app) /_assets/javascript/oldieshim.js -->
<!--[if lt IE 9]>
<script src="/_bower_components/es5-shim/es5-shim.js"></script>
<script src="/_bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(app) /_assets/javascript/vendor.js -->
<!-- bower:js -->
<script src="/_bower_components/jquery/dist/jquery.min.js"></script>
<!--<script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
<script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
<script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
<script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>-->
<script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
<!---<script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
<script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
<script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
<script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>-->
<!-- endbower -->
<!-- endbuild -->

{% if site.future == true %}
    <script src="//localhost:35729/livereload.js"></script>
{% endif %}
    
<!-- build:js(app) /_assets/javascript/scripts.js -->
<!--<script src="/_assets/javascript/main.js"></script>-->
<!-- endbuild -->