<ul class="secondary-nav translucent container">
  {% if include.index == 0 %}
    <li class="active">
  {% else %}
    <li>
  {% endif %}
    <a href="/about">about us</a>
  </li>

  {% if include.index == 1 %}
    <li class="active">
  {% else %}
    <li>
  {% endif %}
    <a href="/about/tedx">about TEDx</a>
  </li>

  {% if include.index == 2 %}
    <li class="active">
  {% else %}
    <li>
  {% endif %}
    <a href="/about/ted">about TED</a>
  </li>
  
  {% if include.index == 3 %}
    <li class="active">
  {% else %}
    <li>
  {% endif %}
    <a href="/about/team">meet the team</a>
  </li>
</ul>