    {% include meta.html %}
    
    <link rel="stylesheet" href="/assets/fancybox2/jquery.fancybox.css" type="text/css"/>
</head>
<body role="document" class="homepage">
    {% include old-ie.html %}
    {% include standard-header.html %}
    
    {{ content }}
    
    {% include default-scripts.html %}
    
    <!--{% javascript minimum.js %}-->
    
    <!-- Fancybox -->
    <script type="text/javascript" src="/assets/fancybox2/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="/assets/fancybox2/jquery.fancybox.pack.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox({
                maxWidth: 853,
                maxHeight: 480,
                fitToView: true,
                autoSize: true
            });
        });
    </script>
    
    {% include tracking.html %}
    
</body>
</html>